{% include 'kapum/header.html' %}
{% include 'kapum/navbar.html' %}
{% load static %}
<div class="album text-muted">
        <div class="container">
            <div class="row">
            {% if autores %}
            {% for autor in autores %}
              <div class="card">
                        <a href="{% url 'autor' autor.id %}">
                            <img class="index-portada" src="{% static 'kapum/' %}{{autor.foto}}" title="{{autor.biografia}}">
                        </a>
                        <p>{{autor.nombre}} {{autor.apellidos}}</p>
               </div>
            {% endfor %}
            {% else %}
            <p>No hay autores</p>
            {% endif %}
            </div>

        </div>
</div>

{% include 'kapum/footer.html' %}
