{% include 'kapum/header.html' %}
{% include 'kapum/navbar.html' %}
{% load static %}

<div class="album text-muted">
    <div class="container container-autor">
    {% if autor %}
        <h2>{{autor.nombre}} {{autor.apellidos}}</h2>
        <div class="row">
            <div class="card-autor">
                <img class="foto-autor" src="{% static 'kapum/' %}{{autor.foto}}" title="{{autor.biografia}}">
                <p><b>Pais: </b> {{autor.pais}}</p>
                <p><b>Biografia: </b> {{autor.biografia}}</p>
            </div>
        </div>
     {% else %}
        <p>No hay autor</p>
     {% endif %}
    </div>
</div>

{% include 'kapum/footer.html' %}
