{% include 'kapum/header.html' %}
{% include 'kapum/navbar.html' %}
{% load static %}


<div class="album text-muted">
    {% if numeros %}
    <div class="container">
    <h2>Numeros</h2>
        <div class="row">

        {% for numero in numeros %}
                <div class="card">
                    <a href="{% url 'numero' numero.id %}">
                        <img class="index-portada" src="{% static 'kapum/' %}{{ numero.portada }}" title="{{ numero.descripcion }}">
                    </a>
                    <p>{{ numero.serie }} #{{ numero.numero }}</p>
                </div>
        {% endfor %}
        </div>
    </div>

    {% else %}
    <h2>No hay numeros</h2>
    {% endif %}

</div>

{% include 'kapum/footer.html' %}
