
<footer class="footer container text-muted">
        Web creada por Carlos Nieto
</footer>

<script>
    Holder.addTheme('thumb', {
        bg: '#55595c',
        fg: '#eceeef',
        text: 'Thumbnail'
    });
</script>
</body>
</html>