<!doctype html>
<html lang="es">
<head>
{% load static %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../../../favicon.ico">
    <link href="{% static 'kapum/css/bootstrap.css' %}" rel="stylesheet">
    <link href="{% static 'kapum/css/sticky-footer.css' %}" rel="stylesheet">
    <link href="{% static 'kapum/css/propios.css' %}" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>


    <title>Kapum</title>
</head>

<body>