{% include 'kapum/header.html' %}
{% include 'kapum/navbar.html' %}
{% load static %}

<main role="main">
<div class="album text-muted">
<!--
    <aside class="col-sm-3 ml-sm-auto blog-sidebar">
        <div class="sidebar-module sidebar-module-inset">
            <h4>Ordenar</h4>
            <ol class="list-unstyled">
                <li><a href="?orden=alfabetico">Ordenar A-Z</a></li>
                <li><a href="?orden=numerico">Ordenar por cantidad de numeros</a></li>
            </ol>
        </div>
    </aside>
-->
        <div class="container">
        <h1>Series</h1>
            <div class="row">
                 {% if series %}
                 {% for serie in series %}

                        {% for numero in numeros %}
                            {% if numero.serie == serie %}
                                <div class="card">
                                <a href="{% url 'numeros_serie' serie.id %}">
                                    <img class="index-portada" src="{% static 'kapum/' %}{{ numero.portada }}" title="{{ entrada.descripcion }}">
                                </a>
                                <p>{{ serie.nombre }}</p>
                                </div>
                            {% endif %}
                        {% endfor %}



                {% endfor %}
            {% else %}
                <p>No hay series</p>
            {% endif %}

            </div>
        </div>
</div>
</main>


{% include 'kapum/footer.html' %}
