<nav class="navbar navbar-expand-lg navbar-light bg-dark">
    <a class="navbar-brand link" href="{% url 'index'%}">Kapum</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link link" href="{% url 'numeros' %}">Numeros</a>
            </li>
            <li class="nav-item">
                <a class="nav-link link" href="{% url 'index'%}">Series</a>
            </li>
            <li class="nav-item">
                <a class="nav-link link" href="{% url 'autores'%}">Autores</a>
            </li>
            <li class="nav-item">
                <a class="nav-link link" href="{% url 'signin'%}">Login</a>
            </li>
        </ul>
    </div>
    <form class="form-inline" action="{% url 'buscador' %}" method="post">
        {% csrf_token %}
        <input class="form-control mr-sm-2" name="busqueda" placeholder="Buscar">
        <input class="btn btn-outline-success my-2 my-sm-0" type="submit" value="Buscar"/>
    </form>
</nav>