{% include 'kapum/header.html' %}
{% include 'kapum/navbar.html' %}
{% load static %}


<div class="album text-muted">
    {% if numeros %}
    <div class="container">
        {% if serie %}
        <h2>{{ serie.nombre }}</h2>
        <h4>Descripción: {{ serie.descripcion }}</h4>
            {% if serie.abierta %}
        <h4> Estado de la colección: Abierta </h4>
            {% else %}
        <h4>Estado de la colección: Cerrada </h4>
            {% endif %}
        <h4>Genero: {{ serie.genero }}</h4>
        {% else %}
         <h2>Todos los números</h2>
        {% endif %}

        <div class="row">
        {% for numero in numeros %}
                <div class="card">
                    <a href="{% url 'numero' numero.id %}">
                        <img class="index-portada" src="{% static 'kapum/' %}{{ numero.portada }}" title="{{ numero.descripcion }}">
                    </a>
                    <p>{{ numero.serie }} #{{ numero.numero }}</p>
                </div>
        {% endfor %}
        </div>

        {% if numeros.has_next %}
              <ul class="pagination">
                {% if numeros.has_previous %}
                <li class="page-item"><a class="page-link" href="?pagina={{ numeros.previous_page_number }}">Anterior</a></li>
                {% endif %}
                {% if numeros.has_next %}
                <li class="page-item"><a class="page-link" href="?pagina={{ numeros.next_page_number }}">Siguiente</a></li>
                {% endif %}
              </ul>


            <p>Mostrando {{ numeros.number }} de {{ numeros.paginator.num_pages }}</p>
        {% endif %}


    </div>

    {% else %}
    <p>No hay series</p>
    {% endif %}

</div>

{% include 'kapum/footer.html' %}
