{% include 'kapum/header.html' %}
{% include 'kapum/navbar.html' %}
{% load static %}
{% load widget_tweaks %}


<div class="album text-muted">
    <div class="container">
        <div class="row">
                <div class="card card-numero">
                    <h2>{{ numero.serie }} #{{ numero.numero }}</h2>
                    <img class="portada-numero" src="{% static 'kapum/' %}{{ numero.portada }}" title="{{ numero.descripcion }}">
                    <p class="card-text"><b>Fecha de publicación</b> {{ numero.fecha_publicacion }} </p>
                    <p class="card-text"><b>Precio</b> {{ numero.precio }}</p>
                    <p class="card-text"><b>Descripcion</b> {{ numero.descripcion }}</p>
                    <p class="card-text"><b>Veces buscado</b> {{ numero.buscado }}</p>
                </div>
        </div>

        <div class="container">
            <h4>Nuevo comentario</h4>
            <form action="{% url 'nuevo_comentario' numero.id %}" method="post">
            {% csrf_token %}
             {% render_field form.nombre class='form-control' size='5' placeholder=form.nombre.label %}
             {% render_field form.comentario class='form-control' size='5' placeholder=form.comentario.label %}

            <button class="anadir-numero" class="{{numero.id}}" type="submit" class="btn btn-primary">Enviar</button>
            </form>
        </div>

        {% if comentarios %}
        <div class=" table-comentarios">
    <h4>Comentarios</h4>
    <table class="table table-striped">

        <tr class="row">
            <th class="col-2">Nombre</th>
            <th class="col-2">Fecha</th>
            <th class="col-6">Comentario</th>
        </tr>


            {% for comentario in comentarios %}
            <tr class="row">
                <td class="col-2">{{comentario.nombre}}</td>
                <td class="col-2">{{comentario.fecha}}</td>
                <td class="col-4">{{comentario.comentario}}</td>
            </tr>
            {% endfor %}

    </table>
    </div>
        {% endif %}

    </div>
</div>



{% include 'kapum/footer.html' %}
