{% include 'kapum/header.html' %}
{% include 'kapum/navbar.html' %}

<div class="album text-muted">
    <div class="container">
        <form action="{% url 'check_login' %}" method="post" class="form-login" id="form-login">
            {% csrf_token %}
            <h2 class="form-signin-heading">Inicia sesión</h2>
            <label class="sr-only">Usuario</label>
            <input name="username" type="text" class="form-control" placeholder="Usuario" required autofocus>
            <label class="sr-only">Password</label>
            <input name="password" type="password"  class="form-control" placeholder="Contraseña" required>
            <button class="btn btn-lg btn-primary btn-block" type="submit">Login</button>
        </form>
        {% if message %}
        <div class="alert alert-danger" role="alert">
            {{ message }}
        </div>
        {% endif %}

    </div>
</div>

{% include 'kapum/footer.html' %}
