{% include 'kapum/admin/header.html' %}
{% load static %}
{% load widget_tweaks %}

{% if autor %}
<h1>Editar autor</h1>
<form method="post" action="{% url 'editar_autor' autor.id %}" enctype="multipart/form-data">
{% else %}
<h1>Nuevo autor</h1>
<form method="post" action="{% url 'nuevo_autor' %}" enctype="multipart/form-data">
{% endif %}

    {% csrf_token %}

    <div class="form-group row">
        <label class="col-form-label col-sm-1">Nombre</label>
        {% render_field form.nombre class="form-control col-sm-3" value=autor.nombre %}


        <label class="col-form-label col-sm-1">Apellidos</label>
        {% render_field form.apellidos class="form-control col-sm-3" value=autor.apellidos %}
    </div>

    <div class="form-group row">
        <label class="col-form-label col-sm-1">Pais</label>
        {% render_field form.pais class="form-control col-sm-3" value=autor.pais %}

        {% if autor %}
            <label class="col-form-label col-sm-4">Foto actual: {% static 'kapum/' %}{{autor.foto}}</label>
            {% render_field form.foto class="form-control col-sm-3" %}

        {% else %}
            <label class="col-form-label col-sm-1">Foto </label>
            {% render_field form.foto class="form-control col-sm-3" %}
        {% endif %}
    </div>

    <div class="form-group row">
        <label class="col-form-label col-sm-1">Biografia</label>
        {% render_field form.biografia class="form-control col-sm-7" value=autor.biografia %}
    </div>

    <div class="form-group row ">
        <button type="submit" class="btn btn-primary col-sm-3 btn-anadir-numero">Añadir autor</button>
    </div>
</form>

{% include 'kapum/admin/footer.html' %}