{% include 'kapum/admin/header.html' %}
{% load static %}
{% load widget_tweaks %}

{% if numero %}
<h1>Editar numero de {{numero.serie.nombre}}</h1>

<form method="post" action="{% url 'editar_numero' numero.id %}" enctype="multipart/form-data">
{% else %}
<h1>Nuevo numero de {{numero.serie.nombre}}</h1>
<form method="post" action="{% url 'nuevo_numero' serie.id %}" enctype="multipart/form-data">
{% endif %}
    {% csrf_token %}

    <div class="form-group row">
        <label class="col-form-label col-sm-2">Descripción</label>
        {% render_field form.descripcion class="form-control col-sm-3" value=numero.descripcion %}
    </div>
    <div class="form-group row">
    <label class="col-form-label col-sm-2">Portada</label>

    {% render_field form.portada class="form-control col-sm-4" value=numero.portada %}

    </div>


    <div class="form-group row">
        <label class="col-form-label col-sm-2">Numero</label>
        {% render_field form.numero class="form-control col-sm-3" value=numero.numero %}

    </div>

    <div class="form-group row">
        <label class="col-form-label col-sm-2">Fecha publicación</label>
        {% render_field form.fecha_publicacion class="form-control col-sm-3" value=numero.fecha_publicacion %}
    </div class="form-group row">

    <div class="form-group row">
        <label class="col-form-label col-sm-2">Precio</label>
        {% render_field form.precio class="form-control col-sm-3" value=numero.precio %}

        <div class="col-sm-3">
            <button type="submit" class="btn btn-primary">Añadir numero</button>
        </div>
    </div>
</form>