{% include 'kapum/admin/header.html' %}
{% load static %}
{% load widget_tweaks %}


{% if serie %}
<h1>Editar serie</h1>
<form method="post" action="{% url 'editar_serie' serie.id %}" enctype="multipart/form-data">
{% else %}
<h1>Nueva serie</h1>
<form method="post" action="{% url 'nueva_serie' %}" enctype="multipart/form-data">
{% endif %}
    {% csrf_token %}

    <div class="form-group">
        {% render_field form.nombre class="form-control" value=serie.nombre placeholder="Nombre de la serie" %}

    </div>
    <div class="form-group">
        {% render_field form.descripcion class="form-control" value=serie.descripcion placeholder="Descripción de la serie" %}

    </div>

    <div class="row">
            <label class="col-md-2">Publicacion</label>
            {% render_field form.publicacion class="form-control col-md-2" value=serie.publicacion %}


        <div class="col-md-2" >
            {% render_field form.genero class="form-control" value=serie.genero placeholder="Genero" %}

        </div>

        <div class="col-md-2">
            <label class="form-check-label">
                {% if serie.abierta %}
                <input checked name="abierta" type="checkbox" class="form-check-input">
                {% else %}
                <input name="abierta" type="checkbox" class="form-check-input">
                {% endif %}

                Serie finalizada
            </label>
        </div>


        <div class="col-sm-3">
            <button type="submit" class="btn btn-primary">Añadir serie</button>
        </div>
    </div>
</form>


{% include 'kapum/admin/footer.html' %}