{% include 'kapum/admin/header.html' %}
{% load static %}

<h2>Autores</h2>
<a href="{% url 'form_autor_nuevo' %}" role="button" class="btn btn-success">Nuevo autor</a></td>

<div class="table-responsive">
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Nombre</th>
            <th>Apellidos</th>
            <th>Biografia</th>
            <th>Pais</th>
            <th>Foto</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        {% if autores %}
            {% for autor in autores %}
            <tr>
                <td>{{autor.nombre}}</td>
                <td>{{autor.apellidos}}</td>
                <td>{{autor.biografia}}</td>
                <td>{{autor.pais}}</td>
                <td><img src="{% static 'kapum/' %}{{autor.foto}}" class="portada-dashboard"></td>
                <td><a role="button" class="btn btn-danger borrar-autor" id="{{autor.id}}">Borrar</a></td>
                <td><a href="{% url 'form_autor_editar' autor.id %}" role="button" class="btn btn-warning">Editar</a></td>
            </tr>
            {% endfor %}
            {% else %}
                <p>No hay autores</p>
            {% endif %}
        </tbody>
    </table>
</div>

{% include 'kapum/admin/footer.html' %}