{% include 'kapum/admin/header.html' %}
{% load static %}

<h1>Vista general</h1>

<h2>Series</h2>
<a href="{% url 'form_serie_nueva' %}" role="button" class="btn btn-success">Nueva serie</a></td>

<div class="table-responsive">
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Nombre</th>
            <th>Descripción</th>
            <th>Genero</th>
            <th>Estado</th>
            <th>Perioidicidad</th>
            <th></th>
        </tr>
        </thead>
        {% for serie in series %}
        <tbody>
            <tr>
                <td>{{serie.nombre}}</td>
                <td>{{serie.descripcion}}</td>
                <td>{{serie.genero}}</td>
                {% if serie.abierta %}
                <td>Abierta</td>
                {% else %}
                <td>Cerrada</td>
                {% endif %}

                <td>{{serie.publicacion}}</td>
                <td><a role="button" class="btn btn-danger borrar-serie" id="{{serie.id}}" >Borrar</a>
                <a href="{% url 'form_serie_editar' serie.id %}" role="button" class="btn btn-warning" >Editar</a>
                <a href="{% url 'gestion_numeros_serie' serie.id %}" role="button" class="btn btn-info">Numeros</a>
                <a href="{% url 'form_numero_nuevo' serie.id %}" role="button" class="btn btn-primary">Nuevo numero</a></td>
            </tr>
            </tbody>
         {% endfor %}
    </table>
</div>
{% include 'kapum/admin/footer.html' %}