{% include 'kapum/admin/header.html' %}
{% load static %}


{% if serie %}
<h1>Numeros de {{serie.nombre}}</h1>
<a href="{% url 'form_numero_nuevo' serie.id %}" role="button" class="btn btn-primary">Nuevo numero</a>

{% else %}
<h1>Todos los numeros</h1>
{% endif %}

<div class="table-responsive">
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Numero</th>
            <th>Portada</th>
            <th>Descripcion</th>
            <th>Fecha publicacion</th>
            <th>Precio</th>
            <th></th>
            <th></th>
        </tr>
        </thead>
        {% for numero in numeros %}
        <tbody>
            <tr>
                <td>{{numero.numero}}-<a href="{% url 'gestion_numeros_serie' numero.serie_id %}">{{numero.serie.nombre}}</a></td>
                <td><img src="{% static 'kapum/' %}{{ numero.portada.url }}" class="portada-dashboard"></td>
                <td>{{numero.descripcion}}</td>
                <td>{{numero.fecha_publicacion}}</td>
                <td>{{numero.precio}}</td>
                <td><a role="button" class="btn btn-danger borrar-numero" id="{{numero.id}}">Borrar</a>
                <a href="{% url 'form_numero_editar' numero.id %}" role="button" class="btn btn-warning" >Editar</a></td>
            </tr>
        </tbody>
        {% endfor %}
    </table>
</div>

{% include 'kapum/admin/footer.html' %}