<!doctype html>
<html lang="es">
<head>
{% load static %}

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../../../favicon.ico">

    <title>Panel de control</title>
    <link href="{% static 'kapum/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'kapum/css/dashboard.css' %}" rel="stylesheet">
    <link href="{% static 'kapum/css/propios.css' %}" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>


    <!-- BORRAR NUMERO -->
    <script type="text/javascript">
        $(document).ready(function() {
            $("a.borrar-numero").click(function() {
                var element = $(this);
                $.ajax({
                   url: "/kapum/borrar_numero/" + element.attr("id"),
                   dataType: 'json',
                   success: function() {
                       element.parent().parent().remove();
                   }
               });
            });
        });
    </script>

    <!-- BORRAR AUTOR -->
    <script type="text/javascript">
        $(document).ready(function() {
            $("a.borrar-autor").click(function() {
                var element = $(this);
                $.ajax({
                   url: "/kapum/borrar_autor/" + element.attr("id"),
                   dataType: 'json',
                   success: function() {
                       element.parent().parent().remove();
                   }
               });
            });
        });
    </script>


    <!-- BORRAR SERIE -->
    <script type="text/javascript">
        $(document).ready(function() {
            $("a.borrar-serie").click(function() {
                var element = $(this);
                $.ajax({
                   url: "/kapum/borrar_serie/" + element.attr("id"),
                   dataType: 'json',
                   success: function() {
                       element.parent().parent().remove();
                   }
               });
            });
        });
    </script>

</head>

<body>
<header>
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <a class="navbar-brand" href="{% url 'gestion_series' %}">Dashboard</a>
        <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarsExampleDefault">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'salir' %}">Salir</a>
                </li>
            </ul>


            <div class="form-inline mt-2 mt-md-0">
                <button class="btn btn-outline-success my-2 my-sm-0">Bienvenido {{ request.user.username }}</button>
            </div>

        </div>
    </nav>
</header>

<div class="container-fluid">
    <div class="row">
    {% include 'kapum/admin/menu.html' %}

        <main role="main" class="col-sm-9 ml-sm-auto col-md-10 pt-3">