        <nav class="col-sm-3 col-md-2 d-none d-sm-block bg-light sidebar">
            <ul class="nav nav-pills flex-column">
                <li class="nav-item">
                    <!--<a class="nav-link active" href="index.php">Series <span class="sr-only">(current)</span></a>-->
                    <a class="nav-link" href="{% url 'gestion_series' %}">Series</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'gestion_numeros' %}">Numeros</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'gestion_autores' %}">Autores</a>
                </li>

            </ul>

        </nav>
